# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\giord\OneDrive - Universita' degli Studi dell'Aquila\ComputerSciencePrivato\tesi_giordano\notebooks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
